<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/home">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      Category
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/category/add">Add Category</a>
      <a class="dropdown-item" href="/category/list?page=1">List Category</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/category/deleteList?page=1">Delete Category</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      Product
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/product/add">Add Product</a>
      <a class="dropdown-item" href="/product/list?page=1">List Product</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/product/deleted?page=1">Delete Product</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      Customer
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/customer/usered?page=1">Customer list</a>
      <a class="dropdown-item" href="/customer/non-user?page=1">Customer violate</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/customer/list-delete?page=1">Delete</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      Cart
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/cart-admin/handleCart">Cart list</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      Tài khoản
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/">Đăng xuất</a>
    </div>
  </li>
</ul>